@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">Not your average grocery store</p>
    @Html.ActionLink("Learn More About Us", "About", null, new { @class = "btn btn-primary btn-large"})
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.
            Come browse our products and see what we have for you.
        </p>
        <p>@Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Our Customers</h2>
        <p>Here is a list of our customers with all of their pertinent details.</p>
        <p>@Html.ActionLink("View Customer List", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("View all transactions", "Index", "Transaction", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>